<input type="checkbox" value="tout" name="categorie"><label>Tout</label><br>
{% for categ in categories %}
<label><input type="checkbox" name="categorie" value="{{categ.nom}}">{{categ.nom}}</label><br>
{% endfor %}