{% extends 'profile.html.twig' %}

{% block title %}Avis reçus{% endblock %}

{% block ss2 %}
<link rel="stylesheet" href="{{ asset('styles/avis.css') }}">
{% endblock %}

{% block contenu %}

    <h1>Avis reçus</h1>

    <div class="avis-container">
        <div class="avis-section">
            <h2>Avis en tant qu'offrant</h2>
            {% if offrantTransactions is not empty %}
                <ul class="avis-list">
                    {% for transaction in offrantTransactions %}
                        {% if transaction.getNoteClient() is not null %}
                            <li class="avis-item">
                                <strong>Note:</strong>
                                <div class="stars">
                                    {% for i in 1..5 %}
                                        {% if i <= transaction.getNoteClient() %}
                                            <span class="material-icons star">star</span>
                                        {% else %}
                                            <span class="material-icons star star-empty">star_border</span>
                                        {% endif %}
                                    {% endfor %}
                                </div><br><br>
                                <strong>Commentaire:</strong> {{ transaction.getCommentaireClient() }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun avis reçu en tant qu'offrant.</p>
            {% endif %}
        </div>

        <div class="avis-section">
            <h2>Avis en tant que client</h2>
            {% if clientTransactions is not empty %}
                <ul class="avis-list">
                    {% for transaction in clientTransactions %}
                        {% if transaction.getNoteOffrant() is not null %}
                            <li class="avis-item">
                                <strong>Note:</strong>
                                <div class="stars">
                                    {% for i in 1..5 %}
                                        {% if i <= transaction.getNoteOffrant() %}
                                            <span class="material-icons star">star</span>
                                        {% else %}
                                            <span class="material-icons star star-empty">star_border</span>
                                        {% endif %}
                                    {% endfor %}
                                </div><br><br>
                                <strong>Commentaire:</strong> {{ transaction.getCommentaireOffrant() }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun avis reçu en tant que client.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
