.content {
    margin: 10px;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--couleurFondMain);
    border: 1px var(--couleurFilet) solid;
}

.publish {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    background-color: var(--couleurFond);
    border: 1px solid var(--couleurFilet);
    border-radius: 2rem;
}

button {
    align-items: center;
    background-clip: padding-box;
    background-color: var(--couleurFancy);
    border: 1px solid transparent;
    border-radius: .25rem;
    cursor: pointer;
    color: #fff;
    display: inline-flex;
    font-family: system-ui;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    margin-left: 2%;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-1px);
}

button:active {
  background-color: #136e13;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}



.emprunter {
    position: absolute;
    bottom: 10px;
    right: 15px;
    padding: 0.5em 1em;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.emprunter:hover {
    filter: brightness(130%);
}

.searchZone {
    display: flex;
    margin: 10px 0;
    padding: 4px;
    border-bottom: 1px solid var(--couleurFilet); 
}

.searchBar {
    margin: auto;
    display: flex;
    width: fit-content;
    align-items: center;
    position: relative;
}

.searchInput {
    border: 1px #999 solid;
    border-radius: 0.5rem;
    padding: 4px;
    font-size: 15px;
    margin-right: 5px;
    width: 300px;
}

.material-icons.searchIcon {
    color: var(--couleurFancy);
    position: absolute;
    right: 3%;
    padding: 5px;
}

.material-icons.searchIcon:hover {
    color: white;
    border-radius: 1rem;
    background-color: var(--couleurFancy);
    cursor: pointer;
    border: 0.5px var(--couleurFancy) solid;
}
