.content {
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--couleurFondMain);
    border: 1px var(--couleurFilet) solid;
    display: flex;
    height: auto;
    overflow: auto;
}

table {
    border-collapse: collapse; /* Fusionner les bordures des cellules */
    margin: 10px 0; /* Centrer le tableau */
}

th, td {
    padding: 8px; /* Espacement interne des cellules */
    border: 1px solid #ddd; /* Bordure de 1 pixel solide avec couleur grise */
}

th {
    background-color: #f2f2f2; /* Couleur de fond pour les en-têtes de colonnes */
}

tr {
    cursor: pointer;
}

tr:hover {
    color: var(--couleurTexte);
    background-color: #ddd; /* Couleur de fond des lignes au survol de la souris */
}

.recWindow {
    border-radius: 0.5rem;
    padding: 1em;
    border: 1px var(--couleurFilet) solid;
    height: auto;
    overflow: auto;
    width: 40%;
}

.a {
    width: 55%;
    height: auto;
    overflow: auto;
}

.selected {
    color: var(--couleurFancy);
}

.bold {
    font-weight: bold;
}

.objet {
    float: right;
    padding: 5px 10px;
    border-radius: 0.75rem;
    color: #eee;
    background: #333;
    font-weight: bold;
}

.description {
    margin-top: 5px 0px;
    border-radius: 0.5rem;
    padding: 5px;
    border: 1px #aaa solid;
    max-height: 30vh;
    overflow: auto;
}

.rep {
    width: 100%;
}

h3 {
    margin-top: 0;
}

.repZone {
    border-top: 1px #333 dashed;
    padding-top: 10px;
}