.custom-input {
    border: 1px solid #c2c2c2; /* Bordure du champ de texte */
    padding: 3px;
    border-radius: 0.25rem;
    font-size: 14px;
    flex: 1;
    margin-left: 5px;
}

.custom-input:hover {
    border: 1px solid var(--couleurFancy); /* Bordure du champ de texte */
}

.custom-input:focus {
    border: 2px solid black; /* Bordure du champ de texte */
}

.inputbox {
    display: flex;
    margin-bottom: 15px;
    padding: 0 20px;
    align-items: center;
}

.content {
    flex: 0;
    padding: 2%;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
}

.signup {
    text-decoration: none;
    color: #007bff;
}

.alert {
    color: red;
}