.content {
    margin: 10px;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--couleurFondMain);
    border: 1px var(--couleurFilet) solid;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    margin: 0 10%;
    height: 100vh;
}

.colonne-gauche {
    width: 30%;
    background-color: #f0f0f0;
    height: 100vh;
    overflow-y: auto; /* Permet le défilement si la liste est longue */
    padding: 10px;
    box-sizing: border-box;
}

.titre-messages {
    height: 5%;
    width: 100%; 
    background-color: #007bff; 
    color: white; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 10px 0; 
    box-sizing: border-box; /* S'assure que le padding est inclus dans la hauteur calculée */
    border-bottom: 2px solid #0056b3; /* Ajoute une bordure en bas pour la démarcation */
    margin-bottom:1%;
}
.destinataire {
    background-color: #e0e0e0; /* Gris */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

    .destinataire:hover {
        background-color: #d0d0d0;
    }

    .destinataire.selectionne {
        background-color: #03a5c1; 
        color: white;
    }

    .destinataire .nom {
        font-weight: bold; 
    }

    .destinataire .preview-message {
        font-size: 0.9em; /* Légèrement plus petit que le texte par défaut */
        color: black; 
    }

    .destinataire .date {
        font-size: 0.8em; /* Encore plus petit pour la date */
        margin-top: 5px; 
    }


.colonne-droite {
    width: 58%; /* 100% - 30% - 2% d'espace = 68%, puis répartir l'espace restant */
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}

.section-haut {
    display: flex;
    align-items: center; 
    justify-content: space-between; /* Positionne le nom à gauche et le bouton à droite */
    background-color: #dcdcdc;
    height: 8%;
    padding: 20px;
    box-sizing: border-box;
}

    .section-haut h2 {
        margin: 0;
        flex-grow: 1; /* Permet au titre de prendre l'espace nécessaire */
    }

    .section-haut button {
        width: 40px; 
        height: 40px; 
        padding: 0; 
        border-radius: 50%; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        background-color: #007bff; 
        color: white; 
        border: none; 
        cursor: pointer; 
    }

        .section-haut button .material-icons {
            font-size: 20px;
        }

.section-bas {
    background-color: #eaeaea; 
    flex-grow: 1; /* Prend tout l'espace restant */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Permet le défilement si le contenu dépasse */
}
.section-messages {
    flex-grow: 1; /* Prend tout l'espace restant après la section-haut */
    background-color: white; 
    overflow-y: auto; /* Permet le défilement si la liste de messages est longue */
    padding: 10px;
    box-sizing: border-box;
}

.message {
    background-color: #f9f9f9; 
    margin-bottom: 10px; /* Petit espace entre chaque message */
    padding: 10px; /* Espacement intérieur pour chaque message */
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

    .message .nom {
        font-weight: bold; 
        margin-bottom: 5px; 
    }

    .message .date {
        color: #666; /* Couleur gris foncé pour la date */
        font-size: 0.9em; /* La date un peu plus petite que le texte normal */
        margin-bottom: 10px; /* Espace entre la date et le message */
    }

    .message .texte-message {
        line-height: 1.4; /* Espacement des lignes pour une meilleure lisibilité */
    }
.message-utilisateur {
    background-color: #007bff; /* Couleur de fond différente pour les messages de l'utilisateur */
    color: white; /* Texte blanc pour un meilleur contraste */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: right; /* Aligner le texte à droite */
}

    .message-utilisateur .nom,
    .message-utilisateur .date,
    .message-utilisateur .texte-message {
        color: white; /* Assurez-vous que le texte reste lisible sur le fond plus foncé */
    }

/* Utiliser flexbox sur le conteneur des messages pour aligner les messages de l'utilisateur à droite */
.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligner les enfants (messages de l'utilisateur) à droite */
}
button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.section-haut .cache{
    display:none;
}

/*CSS POUR LE DIALOG*/
dialog {
    background-color: var(--couleurFondMain);
    color: var(--couleurTexte);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
}
.nouveauMessage {
    border-radius: 0.5em;
    width: 90%;
    height: 10vh;
    padding: 1em;
    border: 1px solid var(--couleurFilet);
    resize: none;
}
.boutonsDialog {
    display: flex;
    justify-content: space-around;
}

dialog div {
    margin-bottom: 20px;
}
