.content {
    margin: 10px;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--couleurFondMain);
    border: 1px var(--couleurFilet) solid;
    display: flex;
    overflow: hidden;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
}

.container {
    display: flex;
    margin: 0 10%;
    flex: 1;
}

.colonne-gauche {
    width: 30%;
    background-color: #f0f0f0;
    overflow-y: auto; /* Permet le d�filement si la liste est longue */
    padding: 10px;
    box-sizing: border-box;
}

.titre-messages {
    height: 5%;
    width: 100%; 
    background-color: #007bff; 
    color: white; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 15px 0; 
    box-sizing: border-box; /* S'assure que le padding est inclus dans la hauteur calcul�e */
    border-bottom: 2px solid #0056b3; /* Ajoute une bordure en bas pour la d�marcation */
    margin-bottom:1%;
}
.destinataire {
    background-color: #e0e0e0; /* Gris */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

    .destinataire:hover {
        background-color: #d0d0d0;
    }

    .destinataire.selectionne {
        background-color: #03a5c1; 
        color: white;
    }

    .destinataire .nom {
        font-weight: bold; 
    }

    .destinataire .preview-message {
        font-size: 0.9em; /* L�g�rement plus petit que le texte par d�faut */
        color: black; 
    }

    .destinataire .date {
        font-size: 0.8em; /* Encore plus petit pour la date */
        margin-top: 5px;
        float: right;
    }


.colonne-droite {
    width: 60%; /* 100% - 30% - 2% d'espace = 68%, puis r�partir l'espace restant */
    margin-left: 2%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section-haut {
    display: flex;
    align-items: center; 
    justify-content: space-between; /* Positionne le nom � gauche et le bouton � droite */
    background-color: #dcdcdc;
    height: 8%;
    padding: 10px;
    box-sizing: border-box;
}


    .section-haut h2 {
        margin: 0;
        flex-grow: 1; /* Permet au titre de prendre l'espace n�cessaire */
    }

    .section-haut button {
        width: 40px; 
        height: 40px; 
        padding: 0; 
        border-radius: 50%; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        background-color: #007bff; 
        color: white; 
        border: none; 
        cursor: pointer; 
    }

    .section-haut button .material-icons {
        font-size: 20px;
    }

.section-bas {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea; 
    flex: 1; /* Prend tout l'espace restant */
    padding: 10px 15px;
    box-sizing: border-box;
    overflow-y: auto; /* Permet le d�filement si le contenu d�passe */
}
.section-messages {
    flex-grow: 1; /* Prend tout l'espace restant apr�s la section-haut */
    background-color: white; 
    overflow-y: auto; /* Permet le d�filement si la liste de messages est longue */
    padding: 10px;
    box-sizing: border-box;
}

.message {
    background-color: #f9f9f9; 
    padding: 8px; /* Espacement int�rieur pour chaque message */
    border-radius: 0.75rem;
    max-width: 80%;
    width: fit-content;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

    .message .nom {
        font-weight: bold; 
        margin-bottom: 5px; 
    }

    .section-bas .date {
        color: #666; /* Couleur gris fonc� pour la date */
        font-size: 0.8em; /* La date un peu plus petite que le texte normal */
        margin-bottom: 10px; /* Espace entre la date et le message */
    }
    
    .date.utilisateur {
        margin-left: auto;
    }

    .message .texte-message {
        line-height: 1.4; /* Espacement des lignes pour une meilleure lisibilit� */
    }

.message.utilisateur {
    background-color: #007bff; /* Couleur de fond diff�rente pour les messages de l'utilisateur */
    color: white; /* Texte blanc pour un meilleur contraste */
    margin-left: auto; /* Aligner le texte � droite */
}

.message.utilisateur .texte-message {
    color: white; /* Assurez-vous que le texte reste lisible sur le fond plus fonc� */
}

button {
    padding: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section-actions {
    background-color: #dcdcdc;
    padding: 5px;
    display: flex;
    align-items: center;
}

.cache{
    display:none;
}

.material-icons.send {
    color: #007bff;;
    font-weight: bold;
    cursor: pointer;
}

.material-icons.fini {
    font-size: 19px;
    color: white;
    padding: 2px;
    border-radius: 0.25rem;
    background-color: var(--couleurFancy);
}

.mi-v {
    color: white;
    padding: 2px;
    font-size: 0.9em;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: var(--couleurFancy);
}

.valider {
    font-weight: bold;
}

.validDiv {
    display: inline-flex;
}
.m-right {
    margin-right: 10px;
}
.messInput {
    flex: 1;
    border: none;
    background-color: #dcdcdc;
    overflow: hidden;
    outline: none;
    resize: none;
    vertical-align: center;
    height: fit-content;
}