.content {
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--couleurFondMain);
    border: 1px var(--couleurFilet) solid;
}

.intro {
    display: flex;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 10px;
    justify-content: space-between;
}

.solde {
    border-right: 1px solid black;
    padding-right: 10px;
    margin-right: 10px;
    display: flex;
}

.material-icons.spe {
    vertical-align: middle;
    font-size: 20px;
    color: var(--couleurFancy)
}

.blockI {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
    color: var(--couleurFancy)
}

/* Style pour le conteneur des boutons d'onglet */
.tab-buttons {
    display: flex; /* Utilisation d'un affichage flex */
    border-bottom: 1px var(--couleurFilet) solid;
}

/* Style pour les boutons d'onglet */
.tab-button {
    background-color: #f4f4f4;
    border: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--couleurTexte);
    padding: 10px 0; /* Ajout de padding 10px 0 */
    flex: 1; /* Chaque bouton prend 1/3 de la largeur */
    cursor: pointer;
    border-radius: 1.5rem;
    text-align: center; /* Centrer le texte */
}

.tab-button:hover {
    text-decoration: underline;
}

/* Style pour les boutons d'onglet actifs */
.tab-button.active {
    background-color: #ccc;
}

/* POUR LES INFORMATIONS PERSONNELLES */
.material-icons.edit {
    float: left;
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.material-icons.edit:hover {
    color: var(--couleurFancy);
    transform: scale(1.2);
}

.big {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.erreur {
    color: red;
    font-size: 15px;
}

.blockI input, dialog input {
    font-size: 16px;
}

.blockI input, dialog input { 
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    min-width: 50dvh;
    font-size:16px;
  }

.blockI input:focus, dialog input:focus{ 
   border:none;
   outline:none;
   border-bottom:1px solid var(--couleurFancy);
  }

/* CSS TEMPORARIRE A CHANGER DES 'Annonces' */
.table-container {
    display: flex;
}

.table-wrapper {
    flex: 1;
    margin-right: 10px; 
}

/* Pour que les deux tableaux aient le m�me style */
.table-wrapper table {
    width: 100%;
}

.table-wrapper th {
    border-bottom: 1px solid #000;
    text-align: left;
}

.table-wrapper td {
    border-bottom: 1px solid #ccc;
    text-align: left;
}

/* dialogue du changement de mot de passe */
dialog {
    background-color: var(--couleurFondMain);
    color: var(--couleurTexte);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
    border: 1.5px solid var(--couleurTexte);
}

.container .horsForm {
    flex-direction: row;
    justify-content: space-between;
}

.cache {
    display: none;
}

.valider {
    display: none;
}

.container .boutonsDialog {
    flex-direction: row;
    justify-content: space-between;
}

.container .boutonDialog {
    padding-left: 20px;
    padding-right: 20px;
}

.container .nogras {
    font-weight: normal;
}

.plans {
    display: flex;
    margin: 15px 0;
}

.plans label {
    background-color: var(--couleurFond);
    color: var(--couleurTexte);
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    margin-right: 20px;
    text-wrap: nowrap;
    box-shadow: 0 0 7px rgba(100, 100, 100, 0.315);
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    font-family: system-ui;
    font-size: 14px;
  }
  
  /* Style for checked label */
input[type="radio"]:checked + label {
    color: white;
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.9), rgba(255, 0, 0, 0.9));
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.infos {
    margin-right: 15px;
    font-weight: normal;
}

.plans li {
    text-align: left;
    margin: 5px 0;
}

.but:disabled {
    background-color: gray;
    cursor: default;
}

.but {
    align-items: center;
    background-clip: padding-box;
    background-color: var(--couleurFancy);
    border: 1px solid transparent;
    border-radius: .25rem;
    cursor: pointer;
    color: #fff;
    display: inline-flex;
    font-family: system-ui;
    font-size: 17px;
    font-weight: bold;
    padding: 6px;
    margin-left: 2%;
}

.but:hover:enabled {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-1px);
}

.but:active:enabled {
  background-color: #136e13;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.validerBouton {
    display: none;
}

.container .bloc {
    flex: 1;
    padding: 0 2%;
    margin-bottom: 0;
}

.succes {
    color: #28a745;
    font-weight: bold;
}

.condMotDePasse {
    flex-wrap: wrap;
    font-size: 0.8em;
}

.visibilite {
    margin-left: 10px;
    cursor: pointer;
    border-radius: 1rem;
}

.mdp {
    flex: 1;
}

.blocMDP {
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
}

.boutonsDialog {
    display: flex;
    justify-content: space-around;
}

dialog div {
    margin-bottom: 20px;
}

.errone {
    color: red;
    margin-top: 3px;
    font-style: italic;
}

.incorrect {
    color: red;
    border-radius: 0.5rem;
    border: 1px solid;
    padding: 5px;
}

.editDescription {
    border-radius: 0.5em;
    width: 90%;
    height: 10vh;
    padding: 1em;
    border: 1px solid var(--couleurFilet);
    resize: none;
}
.modifier {
    position: absolute;
    bottom: 5%;
    left: 5%;
    padding: 0.5em 1em;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modifier:hover {
    filter: brightness(130%);
}

.supprimer {
    position: absolute;
    bottom: 5%;
    right: 5%; 
    padding: 0.5em 1em;
    background-color: #dc3545; 
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.supprimer:hover {
    filter: brightness(130%);
}
.fileAttente {
    position: absolute;
    top: 15%;
    right: 2%;
    padding: 0.5em 1em;
    font-size: 1rem;

}

