/* Style de base pour le tableau */
table {
    border-collapse: collapse;
}

/* Style des cellules d'en-tête */
th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

/* Style des cellules de données */
td {
    border: 1px solid #dddddd;
    padding: 8px;
}

/* Style des lignes paires */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Style des cellules de données centrées */
td.center {
    text-align: center;
}

/* Style des cellules de données alignées à droite */
td.right {
    text-align: right;
}

dialog .bold {
    color: var(--couleurTexte);
    font-weight: bold;
}

dialog .categorie {
    margin-top: 10px;
    border-radius: 1rem;
    padding: 5px 10px;
    background-color: #f87122;
    color: white;
    font-weight: bold;
    display: inline-flex;
}

dialog .desc {
    background-color: #ddd;
    border-radius: 0.5rem;
    max-width: 40vw;
    height: fit-content;
    padding: 5px;
    overflow: auto;
}

.close {
    font-size: 16px;
    padding: 3px;
    border-radius: 1rem;
    color: var(--couleurFancy);
}

.close:hover {
    background-color: var(--couleurFancy);
    color: white;
    cursor: pointer;
}

.flottant {
    float: right;
}

dialog {
    border-radius: 0.5rem;
    width:  40vw;
    max-height: 70vh;
    overflow: auto;
    border: 3px var(--couleurFilet) solid;
    padding: 1em;
    background-color: var(--couleurFondMain);
}

