.content {
	flex: 0;
	padding: 10px 3em;
	display: inline-block;
	width: fit-content;
	height: fit-content;
	margin: auto;
	text-align:center;
	background-color: var(--couleurFondMain);
	border: 1px var(--couleurFilet) solid;
	border-radius: .5rem;
}

.star {
	font-size: 36px;
}

textarea {
	width: 30em; /* Largeur ajust�e � un quart de l'�cran */
	height:9em;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

.centrer{
	text-align:center;
}
.descriptionTransac {
	background-color: #ddd;
	border-radius: 0.5rem;
	padding: 5px;
	width: fit-content;
	margin: auto; /* Centrer le bloc horizontalement */
	display: block; /* Assure que le bloc peut �tre centr� avec margin auto */
	text-align: center; /* Centrer le texte � l'int�rieur du bloc si n�cessaire */
}

.boutonValiderNote button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-right: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.boutonAnnuler button {
	padding: 10px 20px;
	background-color: var(--couleurFancy);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.boutonContainer {
    display: flex; /* Utiliser flexbox pour aligner les éléments horizontalement */
	
}

