{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/profil.css') }}">
{% endblock %}

{% block title %}Hello SleepModeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Mode sommeil activé</h1>
    <h3>Pendant le mode sommeil, vos annonces sont masquées.</h3>
    <form action="{{ path('form_sleepmode') }}" method="post">
    <span class="material-icons">star</span>
    <span class="material-icons">dark_mode</span>
    <span class="material-icons">bed</span>
    <button class="but" name= "but" style="float: right;">Désactiver le mode sommeil</button>
    </form>
</div>
{% endblock %}
