{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
<link rel="stylesheet" href="{{ asset('styles/annonces.css') }}">
{% endblock %}

{% block title %}EcoPrêt{% endblock %}
{# templates/base.html.twig #}

{% block body %}

<h2>Mes transactions</h2>

<div class="tout">
    EN COURS DE DEVELOPPEMENT...
</div>


{% endblock %}
